## Wrangling Dataframes

---

## `Dataframe` Descriptive Analyses

### Inspecting Data Types

Load in a dataframe and check the various columns data types

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/mahdi-b/change-hi.github.io/main/morea/data-wrangling-1/Notebook/data/types_dataframe.csv")
df

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
pd.to_datetime(df['date mmddyy'], format='%m%d%y')

In [ ]:
df["date"] = pd.to_datetime(df['date mmddyy'], format='%m%d%y')
df = df.drop(columns=["date mmddyy"])
df.dtypes

In [ ]:
df

---

### `DataFrame` Methods

#### `mean()` Method

In [ ]:
df.mean(numeric_only=True)

#### `describe()` Method

In [ ]:
df.describe(include='all', datetime_is_numeric=True)

---

### `Accessor` Methods

In [ ]:
pd.Series(['cat', 'dog', 'fish']).str.upper()

## `DataFrame` Arithmetic

In [ ]:
df_1 = pd.DataFrame({'AA':{'A':79, 'C':2, 'T':13, 'X':21}, 'BB':{'A':11, 'C':2, 'T':2, 'X':9}})
df_2 = pd.DataFrame({'AA':{'A':21,'D':14,'T':5}, 'CC':{'A':12,'D':28,'T':121}})

In [ ]:
df_1

In [ ]:
df_2

In [ ]:
df_1["AA"] + df_2["AA"]

### Broadcasting

In [ ]:
df_1["AA"] + 0.3

## End of Notebook
---